:root {
    --color-background : #000000;
    --color-text : #FFFFFF;
    --color-button : #333333;
    --color-highlight : #DD7777;
    --color-border : #770000;
}

* {
    border: solid 1px var(--color-border);
    background-color: var(--color-background);
    color: var(--color-text);
}

th {
    height : 4rem;
    width : 4rem;
    font-size: 3rem;
}

.bingo-card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.generate-card{
    width: 12rem;
    height: 4rem;
    font-size: 3rem;
    background-color: var(--color-button);
}

table {
    align-self: center;
}

.marked-tile {
    background-color : var(--color-highlight);
}